.btn {
  border: 1px solid $btn-primary;
  border-radius: 8px;
  padding: 5px 20px;
  color: white;
  min-width: unset;
  transition: all 0.1s;

  &.primary {
    background-color: $btn-primary;

    &:hover {
      background-color: $btn_primary_hover;
    }
  }

  &.orange {
    background-color: $btn_orange;
    color: $primary;

    &:hover {
      opacity: 0.7;
    }
  }
}
