@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100%));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.6;
  }
}

.main {
  position: relative;
  border-right: 1px solid $gray_1;
  min-width: 275px;
  max-width: 275px;

  &.open {
    animation: slide-in 1s ease forwards;
  }

  &.close {
    animation: slide-out 1s ease forwards;
  }
}

.title {
  margin-bottom: 20px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;

    svg {
      cursor: pointer;

      &:hover {
        path {
          transition: all 0.2s;
          fill: #000;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.arrow-right {
  transform: rotate(180deg);
}

.transparent {
  transition: all 0.1s;
  opacity: 0.6;
  animation: fade-in 0.2s ease-in;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  svg {

    &:hover {
      path {
        transition: all 0.2s;
        fill: #323232;
      }
    }
  }
}
